/* TEXT */

/* Responsive to theme */

@each $textColor, $i in 1, 2, 3, 4, brand, opposite {
  .app-color-text-$(textColor) {
    color: var(--app-text-$(textColor));
  }
}

@each $textColor, $i in 1, 2, 3, 4, brand, opposite {
  .hover\:app-color-text-$(textColor):hover {
    color: var(--app-text-$(textColor));
  }
}

@each $textColor, $i in 1, 2, 3, 4, brand, opposite {
  .app-group:hover {
    .group-hover\:app-color-text-$(textColor) {
      color: var(--app-text-$(textColor));
    }
  }
}

/* Always dark */

@each $textColor, $i in 1, 2, 3, 4, brand, opposite {
  .app-color-text-$(textColor)-dark {
    color: var(--app-text-$(textColor)-dark);
  }
}


/* BG */

/* Responsive to theme */

@each $bgColor, $i in 1, 2, 25, 3, brand, opposite {
  .app-color-bg-$(bgColor) {
    background-color: var(--app-bg-$(bgColor));
  }
}

@each $bgColor, $i in 1, 2, 25, 3, brand, opposite {
  .hover\:app-color-bg-$(bgColor):hover {
    background-color: var(--app-bg-$(bgColor));
  }
}

/* Always dark */

@each $bgColor, $i in 1, 2, 25, 3, brand, opposite {
  .app-color-bg-$(bgColor)-dark {
    background-color: var(--app-bg-$(bgColor)-dark);
  }
}


/* BORDER */

/* Responsive to theme */

@each $borderColor, $i in 1, 2, 3, 4, brand, opposite, transparent {
  .app-color-border-$(borderColor) {
    border-color: var(--app-border-$(borderColor));
  }
}
@each $borderColor, $i in 1, 2, 3, 4, brand, opposite, transparent {
  .hover\:app-color-border-$(borderColor):hover {
    border-color: var(--app-border-$(borderColor));
  }
}

@each $borderColor, $i in 1, 2, 3, 4, brand, opposite, transparent {
  .focus\:app-color-border-$(borderColor):focus {
    border-color: var(--app-border-$(borderColor));
  }
}

@each $borderColor, $i in 1, 2, 3, 4, brand, opposite, transparent {
  .app-group:hover {
    .group-hover\:app-color-border-$(borderColor) {
      border-color: var(--app-border-$(borderColor));
    }
  }
}


/* Always dark */

@each $borderColor, $i in 1, 2, 3, 4, brand {
  .app-color-border-$(borderColor)-dark {
    border-color: var(--app-border-$(borderColor)-dark);
  }
}